<div class="dashboardPage">
	 <div class="layout-content">
		<div class="layout-content-body">
			<div class="title-bar">
				<!-- <div class="title-bar-actions">
					<select class="selectpicker dropdown" name="period" data-dropdown-align-right="true" data-style="btn-default btn-sm" data-width="fit">
						<option value="today">Today</option>
						<option value="yesterday">Yesterday</option>
						<option value="last_7d" selected="selected">Last 7 days</option>
						<option value="last_1m">Last 30 days</option>
						<option value="last_3m">Last 90 days</option>
					</select>
				</div> -->
				<h1 class="title-bar-title">
					<span class="d-ib">Dashboard</span>
				</h1>
				<p class="title-bar-description">
					<small>You can personalize your dashboard</small>
				</p>
			</div>
			<div class="row gutter-xs">
				<div class="col-xs-6 col-md-3">
					<div class="card card-wrap card-visitors">
						<div class="row">
							<div class="col-md-6">
								<div class="card-values">
									<div class="p-x">
										<small>Total Registration</small>
										<h3 class="card-title fw-l">{{total_user_registration}}</h3>
									</div>
								</div>
								<div class="card-chart">
									
								</div>
							</div>
							<div class="col-md-6">
								<div class="card-values">
									<div class="p-x">
										<small>Today Registration</small>
										<h3 class="card-title fw-l">{{total_today_user_registration}}</h3>
									</div>
								</div>
								<div class="card-chart">
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="card card-wrap card-new-visitors">
						<div class="row">
							<div class="col-md-6">
								<div class="card-values">
									<div class="p-x">
										<small>Total Create Order</small>
										<h3 class="card-title fw-l">{{total_orders}}</h3>
									</div>
								</div>
								<div class="card-chart">
									
								</div>
							</div>
							<div class="col-md-6">
								<div class="card-values">
									<div class="p-x">
										<small>Today Create Order</small>
										<h3 class="card-title fw-l">{{total_today_orders}}</h3>
									</div>
								</div>
								<div class="card-chart">
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="card card-wrap card-pageview">
						<div class="row">
							<div class="col-md-6">
								<div class="card-values">
									<div class="p-x">
										<small>Total Create Offer</small>
										<h3 class="card-title fw-l">{{total_offers}}</h3>
									</div>
								</div>
								<div class="card-chart">
									
								</div>
							</div>
							<div class="col-md-6">
								<div class="card-values">
									<div class="p-x">
										<small>Today Create Offer</small>
										<h3 class="card-title fw-l">{{total_today_offers}}</h3>
									</div>
								</div>
								<div class="card-chart">
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="card card-wrap card-duration">
						<div class="row">
							<div class="col-md-6">
								<div class="card-values">
									<div class="p-x">
										<small>Total Cost Revenue</small>
										<h3 class="card-title fw-l">{{total_revenue}}</h3>
									</div>
								</div>
								<div class="card-chart">
									
								</div>
							</div>
							<div class="col-md-6">
								<div class="card-values">
									<div class="p-x">
										<!-- <small>Today Cost Revenue</small>
										<h3 class="card-title fw-l">185,118</h3> -->
										<h1>AED</h1>
									</div>
								</div>
								<div class="card-chart">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row gutter-xs">
				<div class="col-xs-12 col-md-6">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Audience Overview</h4>
						</div>
						<div class="card-body">
							<div class="card-chart">
			                    <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-series="series" chart-colors="colors"></canvas>
                  			</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">{{total_user_registration}} Signups</h4>
						</div>
						<div class="card-body">
							<div class="card-chart">
								<canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-series="series" chart-colors="colors1"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row gutter-xs">
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<div class="media">
								<div class="media-middle media-left">
									<span class="bg-gray sq-64 circle">
										<span class="icon icon-flag"></span>
									</span>
								</div>
								<div class="media-middle media-body">
									<h3 class="media-heading">
										<span class="fw-l">{{total_reports}} Reports</span>
										<!-- <span class="fw-b fz-sm text-danger">
											<span class="icon icon-caret-up"></span>
											15%
										</span> -->
									</h3>
									<small>Assigned</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<div class="media">
								<div class="media-middle media-left">
									<!-- <div class="media-chart">
										<canvas data-chart="doughnut" data-animation="false" data-labels='["Resolved", "Unresolved"]' data-values='[{"backgroundColor": ["#0ac29d", "#555"], "data": [879, 377]}]' data-hide='["legend", "scalesX", "scalesY", "tooltips"]' height="64" width="64"></canvas>
									</div> -->
									<span class="bg-gray sq-64 circle">
										<span class="icon icon-flag"></span>
									</span>
								</div>
								<div class="media-middle media-body">
									<h2 class="media-heading">
										<span class="fw-l">{{total_resolved_reports}}</span>
										<small>Resolved</small>
									</h2>
									<small>More than {{solved_percentage}}% resolved issues</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<div class="media">
								<div class="media-middle media-left">
									<!-- <div class="media-chart">
										<canvas data-chart="doughnut" data-animation="false" data-labels='["Resolved", "Unresolved"]' data-values='[{"backgroundColor": ["#555", "#0ac29d"], "data": [879, 377]}]' data-hide='["legend", "scalesX", "scalesY", "tooltips"]' height="64" width="64"></canvas>
									</div> -->
									<span class="bg-gray sq-64 circle">
										<span class="icon icon-flag"></span>
									</span>
								</div>
								<div class="media-middle media-body">
									<h2 class="media-heading">
										<span class="fw-l">{{total_unresolved_reports}}</span>
										<small>Unresolved</small>
									</h2>
									<small>Less than {{unsolved_percentage}}% unresolved issues</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>