<div class="dashboardPage">
	<div class="layout-content">
		<div class="layout-content-body">
			<div class="title-bar"></div>
			<div class="row gutter-xs">
				<div class="col-xs-12 col-md-6">	
					<div class="text-center m-b">
						<h3 class="m-b-0">Overall User Registered </h3>
					</div>
					<div class="panel panel-body text-center" data-toggle="match-height">
						<canvas data-chart="line" data-labels='["May", "Jun", "Jul", "Aug"]' data-values='[{"backgroundColor": "transparent", "borderColor": "#50b432", "label": "Visitors", "data": [60285, 50687, 56529, 49634]}]' data-hide='["legend"]' height="150" width="300"></canvas>
					</div>
				</div>  
				<div class="col-xs-12 col-md-6">
					<div class="text-center m-b">
						<h3 class="m-b-0">Overall Courier Registered </h3>
					</div>
					<div class="panel panel-body text-center" data-toggle="match-height">
						<canvas data-chart="line" data-labels='["May", "Jun", "Jul", "Aug"]' data-values='[{"backgroundColor": "transparent", "borderColor": "#50b432", "label": "Visitors", "data": [60285, 50687, 56529, 49634]}]' data-hide='["legend"]' height="150" width="300"></canvas>
					</div>
				</div> 
			</div>
			<div class="row gutter-xs"></div>
		</div>
	</div>
</div>