<div ng-controller="header">

	<div id="sendNotificationPopup" tabindex="-1" role="dialog" class="modal in">
		<div class="backgroundOverlay"></div>
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header bg-success">
					<h4 class="modal-title">Send Notification</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group success-container" ng-show="error_msg">
							<div class="alert alert-danger alert-dismissable fade in">							
								<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>							
								<strong>Error! </strong><span class="errorContainer">{{error_msg_text}}</span>						
							</div>
						</div>
						<div class="form-group success-container" ng-show="success_msg">
							<div class="alert alert-success alert-dismissable fade in">							
								<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>							
								<strong>Success! </strong><span class="errorContainer">{{success_msg_text}}</span>						
							</div>
						</div>
						<div class="form-group">
							<select required="required" class="form-control" ng-model="push_select">
								<option value="" selected="selected">-- Select User--</option>
								<option value="1" label="">iOS User</option>
								<option value="2" label="">Android User</option>
								<option value="3" label="">Both</option>
							</select>
							<span class="error" ng-show="push_select_error">*{{push_select_error_msg}}</span>
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="4" placeholder="Enter Message" ng-model="push_msg"></textarea>
							<span class="error" ng-show="push_msg_error">*{{push_msg_error_msg}}</span>
						</div>
						<div class="text-center">
							<button class="btn btn-success" type="button" ng-click="sendNotification()">Submit</button>
							<button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="logoutPopup" tabindex="-1" role="dialog" class="modal in">
		<div class="backgroundOverlay"></div>
		<div class="modal-dialog">
			<div class="modal-content animated bounceIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true" class="closeBtn">×</span>
						<span class="sr-only">Close</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="text-center">
						<p class="blockUnblockText">Are you sure you want to logout ?</p>
						<div class="m-t-lg">
							<button class="btn btn-success logoutBtn" type="button" ng-click="logout()">Yes</button>
							<button class="btn btn-default closeBtn" data-dismiss="modal" type="button">No</button>
						</div>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>

	<div class="layout-header">
		<div class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand navbar-brand-center" href="/">
					<img class="navbar-brand-logo" src="assets/img/logo-white.png" alt="Elephant">
				</a>
				<button class="navbar-toggler visible-xs-block collapsed" id="resSidebar-toggler" type="button" data-toggle="collapse" data-target="#sidenav" ng-click="sidebarResToggle()">
					<span class="sr-only">Toggle navigation</span>
					<span class="bars">
						<span class="bar-line bar-line-1 out"></span>
						<span class="bar-line bar-line-2 out"></span>
						<span class="bar-line bar-line-3 out"></span>
					</span>
					<span class="bars bars-x">
						<span class="bar-line bar-line-4"></span>
						<span class="bar-line bar-line-5"></span>
					</span>
				</button>
				<button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="arrow-up"></span>
					<span class="ellipsis ellipsis-vertical">
						<img class="ellipsis-object" width="32" height="32" ng-src="{{userDetails.profile_url}}" alt="userDetails.name">
					</span>
				</button>
			</div>
			<div class="navbar-toggleable">
				<nav id="navbar" class="navbar-collapse collapse">
					<button class="sidenav-toggler hidden-xs" id="sidenav-toggler" title="Collapse sidenav ( [ )" aria-expanded="true" type="button" ng-click="sidebarToggle()">
						<span class="sr-only">Toggle navigation</span>
						<span class="bars">
							<span class="bar-line bar-line-1 out"></span>
							<span class="bar-line bar-line-2 out"></span>
							<span class="bar-line bar-line-3 out"></span>
							<span class="bar-line bar-line-4 in"></span>
							<span class="bar-line bar-line-5 in"></span>
							<span class="bar-line bar-line-6 in"></span>
						</span>
					</button>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown hidden-xs">
							<button  class="btn btn-navbar" data-toggle="modal" data-target="#sendNotificationPopup">
								<i class="fa fa-bell-o text-info" style="color: #fff;margin-right: 3px;"></i>  Send Notification
							</button>
						</li>
						<li class="dropdown hidden-xs">
							<button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
								<img class="rounded" width="36" height="36" ng-src="{{userDetails.profile_url}}" alt="userDetails.name"> {{userDetails.name}}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="/#!/profile">Profile</a></li>
								<li><a href="javascript:void(0)" data-toggle="modal" data-target="#logoutPopup">Sign out</a></li>
							</ul>
						</li>
						<!-- <li class="visible-xs-block">
							<a href="contacts.html">
								<span class="icon icon-users icon-lg icon-fw"></span>
								Contacts
							</a>
						</li> -->
						<li class="visible-xs-block">
							<a href="/#!/profile">
								<span class="icon icon-user icon-lg icon-fw"></span>
								Profile
							</a>
						</li>
						<li class="visible-xs-block">
							<a href="javascript:void(0)" data-toggle="modal" data-target="#logoutPopup">
								<span class="icon icon-power-off icon-lg icon-fw"></span>
								Sign out
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="layout-main">
		<div class="layout-sidebar" id="layout-sidebar" style="position: fixed;">
			<div class="layout-sidebar-backdrop"></div>
			<div class="layout-sidebar-body">
				<div class="custom-scrollbar">
					<nav class="sidenav-collapse collapse" id="resSide-nav">
						<ul class="sidenav" id="sidenav">
							<!-- <li class="sidenav-search hidden-md hidden-lg">
								<form class="sidenav-form" action="">
									<div class="form-group form-group-sm">
										<div class="input-with-icon">
											<input class="form-control" type="text" placeholder="Search…">
											<span class="icon icon-search input-icon"></span>
										</div>
									</div>
								</form>
							</li> -->
							<li class="sidenav-heading">Navigation</li>
							<li class="sidenav-item dashboardPageNav" ng-class="currentRoute == '/dashboard'?'active':''">
								<a href="/#!/dashboard" aria-haspopup="true">
									<span class="sidenav-icon icon icon-home"></span>
									<span class="sidenav-label">Dashboard</span>
								</a>
							</li>
							<li class="sidenav-item profilePageNav" ng-class="currentRoute == '/profile'?'active':''">
								<a href="/#!/profile" aria-haspopup="true">
									<span class="sidenav-icon icon icon-user"></span>
									<span class="sidenav-label">Profile</span>
								</a>
							</li>
							<li class="sidenav-item has-subnav accountPageNav" ng-class="currentRoute == '/userlist' || currentRoute == '/courierlist'?'active':''">
								<a href="javascript:void(0);" class="accountManageTab" ng-click="subnavshow('account')" ng-class="subnavshowdiv['account']?'active':''">
									<span class="sidenav-icon icon icon-lock"></span>
									<span class="sidenav-label">Account Management</span>
								</a>
								<ul class="sidenav-subnav" ng-show="subnavshowdiv['account']">
									<li><a href="/#!/userlist">User List</a></li>
									<!-- <li><a href="/#!/courierlist">Courier List</a></li>   -->
								</ul>
							</li>
							<li class="sidenav-item has-subnav orderPageNav" ng-class="currentRoute == '/allOrder' || currentRoute == '/pendingOrder' || currentRoute == '/completedOrder' || currentRoute == '/cancelledOrder' || currentRoute == '/onTheWayOrder'?'active':''">
								<a href="javascript:void(0);" class="orderManageTab" ng-click="subnavshow('order')" ng-class="subnavshowdiv['order']?'active':''">
									<span class="sidenav-icon icon icon-lock"></span>
									<span class="sidenav-label">Order Management</span>
								</a>
								<ul class="sidenav-subnav" ng-show="subnavshowdiv['order']">
									<li><a href="/#!/allOrder">All Order</a></li>
									<li><a href="/#!/pendingOrder">Pending Order</a></li>
									<li><a href="/#!/onTheWayOrder">On the way Order</a></li>
									<li><a href="/#!/completedOrder">Completed Order</a></li> 
									<li><a href="/#!/cancelledOrder">Cancelled Order</a></li>  
								</ul>
							</li>
							<!-- <li class="sidenav-item carBrandManagementNav" ng-class="currentRoute == '/carbrand'?'active':''">
								<a href="/#!/carbrand" aria-haspopup="true">
									<span class="sidenav-icon icon icon-user"></span>
									<span class="sidenav-label">Car Brand Management</span>
								</a>
							</li>
							<li class="sidenav-item carModelManagementNav" ng-class="currentRoute == '/carmodel'?'active':''">
								<a href="/#!/carmodel" aria-haspopup="true">
									<span class="sidenav-icon icon icon-user"></span>
									<span class="sidenav-label">Car Model Management</span>
								</a>
							</li> -->
							<li class="sidenav-item has-subnav ecommercePageNav" ng-class="currentRoute == '/ecommerce/mastercategory' || currentRoute == '/ecommerce/brand'?'active':''">
								<a href="javascript:void(0);" class="accountManageTab" ng-click="subnavshow('ecommerce')" ng-class="subnavshowdiv['ecommerce']?'active':''">
									<span class="sidenav-icon icon icon-lock"></span>
									<span class="sidenav-label">Ecommerce Management</span>
								</a>
								<ul class="sidenav-subnav" ng-show="subnavshowdiv['ecommerce']">
									<li><a href="/#!/ecommerce/brand">Brand</a></li>
									<li><a href="/#!/ecommerce/mastercategory">Category</a></li> 
									<li><a href="/#!/ecommerce/product">Product</a></li>  
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>