<div class="addMasterCategoryPage">
	<!-- add category pop up -->
	<div id="addCategoryPopup" tabindex="-1" role="dialog" class="modal fade">
		<div class="backgroundOverlay"></div>
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header bg-success">
					<h4 class="modal-title">Add Master Category</h4>
				</div>
				<div class="modal-body">
					<div class="panel-body">
						<form class="form form-horizontal">
							<div class="form-group" ng-show="success_msg">
								<div class="alert alert-success alert-dismissable fade in">							
									<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>							
									<strong>Success! </strong><span class="errorContainer">{{success_msg_text}}</span>						
								</div>
							</div>
							<div class="form-group" ng-show="error_msg">
								<div class="alert alert-danger alert-dismissable fade in">							
									<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>							
									<strong>Error! </strong><span class="errorContainer">{{error_msg_text}}</span>						
								</div>
							</div>
	                        <div class="form-group">  
	                            <label for="email-2" class=" control-label">Name</label>
	                            <input id="" class="form-control" type="text" ng-model="master_category_name">  
	                        	<span class="error" ng-show="master_category_name_error">*{{master_category_name_msg}}</span>
	                        </div>
	                       <!--  <div class="form-group">
	                            <label for="email-2" class=" control-label">Sort Order</label>
	                            <input id="" class="form-control" type="text" ng-model="master_sort_order">
	                        	<span class="error" ng-show="master_sort_order_error">*{{master_sort_order_msg}}</span>
	                        </div> -->
	                        <div class="form-group">
	                            <label for="address" class=" control-label">Description</label>
	                            <textarea id="" class="form-control" rows="5" ng-model="master_category_description"></textarea>
	                        </div>
	                        <div class="form-group">
	                            <button class="btn btn-primary" type="submit" ng-click="add_master_category()">Save</button>
	                        </div>
	                    </form>
	                </div>
				</div>
			</div>
		</div>
	</div>

	<!-- edit category pop up -->
	<div id="editCategoryPopup" tabindex="-1" role="dialog" class="modal fade">
		<div class="backgroundOverlay"></div>
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header bg-success">
					<h4 class="modal-title">Edit Master Category</h4>
				</div>
				<div class="modal-body">
					<div class="panel-body">
						<form class="form form-horizontal">
							<div class="form-group" ng-show="edit_success_msg">
								<div class="alert alert-success alert-dismissable fade in">							
									<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>							
									<strong>Success! </strong><span class="errorContainer">{{edit_success_msg_text}}</span>						
								</div>
							</div>
							<div class="form-group" ng-show="edit_error_msg">
								<div class="alert alert-danger alert-dismissable fade in">							
									<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>							
									<strong>Error! </strong><span class="errorContainer">{{edit_error_msg_text}}</span>						
								</div>
							</div>
	                        <div class="form-group">  
	                            <label for="email-2" class=" control-label">Name</label>
	                            <input id="" class="form-control" type="text" ng-model="edit_master_category_name">  
	                        	<span class="error" ng-show="edit_master_category_name_error">*{{edit_master_category_name_msg}}</span>
	                        </div>
	                        <div class="form-group">
	                            <label for="address" class=" control-label">Description</label>
	                            <textarea id="" class="form-control" rows="5" ng-model="edit_master_category_description"></textarea>
	                            <input type="hidden" ng-model="edit_master_category_id" />
	                        </div>
	                        <div class="form-group">
	                            <button class="btn btn-primary" type="submit" ng-click="update_master_category()">Save</button>
	                        </div>
	                    </form>
	                </div>
				</div>
			</div>
		</div>
	</div>

	<!-- For success popup -->
	<div id="successPopup" tabindex="-1" role="dialog" class="modal in">
		<div class="modal-dialog">
			<div class="modal-content animated bounceIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true" class="closeBtn">×</span>
						<span class="sr-only">Close</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="text-center">
						<p>{{successText}}</p>
						<div class="m-t-lg">
							<button class="btn btn-success" data-dismiss="modal" type="button">Ok</button>
						</div>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>

	<div class="layout-content">
		<div class="layout-content-body">
			<div class="title-bar clearfix">
				<div class="col-xs-6 col-md-6">
					<h1 class="title-bar-title">
						<span class="d-ib">Master Category</span>
					</h1>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="pull-right">
						<div class="form-group text-right">
							<label for="">&nbsp;&nbsp;</label>
							<button class="btn btn-primary m-r-sm" type="button" data-toggle="modal" data-target="#addCategoryPopup">Add Master Category</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row gutter-xs">	
				<div class="card">
					<div class="card-body">
						<table id="example" class="table table-striped" cellspacing="0" width="100%" role="grid" style="width: 100%;">
					        <thead>
					            <tr>
					                <th class="text-center">Sr. No.</th>
					                <th class="text-center">Name</th>
					                <th class="text-center">Description</th>
					                <!-- <th class="text-center">Sort order</th> -->
					                <th class="text-center">Status</th>
					                <th class="text-center">Action</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr ng-repeat="(key,list) in masterCategoryList">
									<td class="text-center">{{list.number}}</td>
									<td class="text-center">{{list.master_category_name}}</td>
									<td class="text-center">{{list.master_category_description}}</td>
									<!-- <td class="text-center">{{list.sort_order}}</td> -->
									<td class="text-center">
										<!-- <div ng-class="list.is_active == 1? 'status active': 'status offline'">Active</div> -->
										<div class="status active" ng-show="list.is_active">Active</div>
										<div class="status offline" ng-hide="list.is_active">Offline</div>
									</td>
									<td class="text-center" >
										<a class="btn btn-sm btn-test-link" href="" title="Edit" ng-click="editMasterCategory(key,list.master_category_id)">
					                		<i class="fa fa-pencil icon-css pencil-icon"></i>
					                	</a>
					                	<span ng-show="list.is_active">
					                		<a class="btn btn-sm btn-test-link" title="active" ng-click="activeOfflineMasterCategory(key,list.master_category_id,0)">
					                			<i class="fa fa-unlock unblock-icon"></i>
					                		</a>
					                	</span>
					                	<span ng-hide="list.is_active">
					                		<a class="btn btn-sm btn-test-link" title="offline" ng-click="activeOfflineMasterCategory(key,list.master_category_id,1)">
					                			<i class="fa fa-lock block-icon"></i>
					                		</a>
					                	</span>
					                	</span>
					                	<a class="btn btn-sm btn-test-link" title="view category" href="/#!/ecommerce/category/{{list.master_category_id}}">
					                		<i class="fa fa-asterisk block-icon"></i>
					                	</a>
									</td>
								</tr>
					        </tbody>
					    </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$(document).ready(function() {
	// $('#example').dataTable({
	// 	"bDestroy":true,
	// 	'paging': true, // Table pagination
	// 	'ordering': true, // Column ordering
	// 	'info': true, // Bottom left status text
	// 	// Text translation options
	// 	// Note the required keywords between underscores (e.g _MENU_)
	// 	oLanguage: {
	// 		sSearch: 'Search all columns:',
	// 		sLengthMenu: '_MENU_ records per page',
	// 		info: 'Showing page _PAGE_ of _PAGES_',
	// 		zeroRecords: 'Nothing found - sorry',
	// 		infoEmpty: 'No records available',
	// 		infoFiltered: '(filtered from _MAX_ total records)'
	// 	},
	// 	"aoColumnDefs": [
	// 		{ 'bSortable': false, 'aTargets': [3] }
	// 	]
	// });
});
</script>